<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
   <appender name="topiconeappender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/root/logs/topicone.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/root/logs/topicone.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="topictwoappender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/root/logs/topictwo.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/root/logs/topictwo.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
	<logger name="com.johnnian.listener.TestOneTopicListener" level="DEBUG" additivity="false">  
	    <appender-ref ref="topiconeappender" />  
	</logger>  
	  
	<logger name="com.johnnian.listener.TestTwoTopicListener" level="DEBUG" additivity="false">  
	    <appender-ref ref="topictwoappender" />  
	</logger> 
	
	
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>